* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(227, 234, 240);
}

.header {
  background-color: aliceblue;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  padding: 1rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.6rem;
}

.claude-logo {
  height: 40px;
}

main {
  padding: 32px 32px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  gap: 12px;
}

.add-ingredient-form input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  outline: none;
  padding: 8px 12px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 160px;
  max-width: 400px;
  height: 100%;
  font-size: 0.875rem;
}

.add-ingredient-form button {
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #141413;
  color: #fafaf8;
  height: 100%;
  width: 160px;
  font-size: 0.875rem;
}

.get-recipe-container {
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 6px;
}

.get-recipe-container p {
  font-size: 1.125rem;
  font-weight: 500;
}

.get-a-recipe-btn {
  background-color: rgb(168, 103, 49);
  color: aliceblue;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 1rem;
  font-size: 1rem;
}

.suggested-recipe-container,
.ingredients-list {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}
